.container.top-padding-med.margin-top
  .pull-right
    form.form-inline
      .form-group
        input.form-control(ng-model="searchText", placeholder="Filter")
      .form-group.margin-left-med
        select.form-control(ng-model="sortOrder", ng-options="item.value as item.text for item in sortOptions")
  table.table.table-hover.table-striped.table-condensed
    thead
      tr
        th Pavadinimas
        th Platuma
        th Ilguma
        th
    tbody
      tr(ng-repeat="restaurant in restaurants | filter:searchText | orderBy:sortOrder")
        td
          a(ng-click='goToDetails(restaurant._id)' style="cursor:pointer") {{restaurant.name}}
        td {{restaurant.location.latitude}}
        td {{restaurant.location.longitude}}
        td
          span(ng-click="removeRestaurant(restaurant)").glyphicon.glyphicon-remove
  button(ng-if="identity.currentUser.isAdmin()", ng-click="goToCreate()").btn.btn-default Sukurti