/*!
 * Start Bootstrap - Business Frontpage HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

body {
    padding-top: 50px;
}

.btn {
    padding: 10px 25px;
    border: 0 none;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

.btn-default {
    background-color: #007241;
    color: #fff;
    border-color #4cae4c;
}

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default {
    background: #007241;
    color: #fff;
}
.btn-default:active, .btn-primary.active {
    background: #007241;
    box-shadow: none;
}

.navbar-default {
    background-color: #00af64;
    border-color: #00af64;
}
.navbar-default .navbar-brand {
    color: #eeeeee;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #ffffff;
}
.navbar-default .navbar-text {
    color: #eeeeee;
}
.navbar-default .navbar-nav > li > a {
    color: #eeeeee;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #ffffff;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
    background-color: #00af64;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
    color: #eeeeee;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
    color: #ffffff;
    background-color: #007241;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
    background-color: #00af64;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color: #007241;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #ffffff;
    background-color: #007241;
}
.navbar-default .navbar-toggle {
    border-color: #007241;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #007241;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #eeeeee;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: #eeeeee;
}
.navbar-default .navbar-link {
    color: #eeeeee;
}
.navbar-default .navbar-link:hover {
    color: #ffffff;
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #eeeeee;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #ffffff;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #ffffff;
        background-color: #007241;
    }
}

.tagline {
    text-shadow: 0 0 10px #000;
    color: #fff;
}

.img-center {
    margin: 0 auto;
}

footer {
    margin: 50px 0;
}

.angular-google-map-container {
    height: 400px;
}

.filter-col{
    padding-left:10px;
    padding-right:10px;
}

.hours{
    float:right;
}

.margin-top{
    margin-top:10px;
}



.restaurant-image{
    border: 1px solid #000000;
    cursor: pointer;
}

.pointer{
    cursor:pointer;
}

/* For facebook like/share widget responsivness */

#fb-root {
    display: none;
}

.fb_iframe_widget, .fb_iframe_widget span, .fb_iframe_widget span iframe[style] {
    width: 100% !important;
}

.error-message{
    color: red;
}

.gm-style-iw > div{
    overflow: visible !important;
}
