extends ../includes/layout
block main-content
    nav.navbar.navbar-default.navbar-fixed-top(role='navigation')
        .container
            .navbar-header
                button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-main')
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.navbar-brand(href='/') WhereToGo
            center
                #navbar-main.navbar-collapse.collapse
                    div(ng-include="'/partials/account/navbar-login'")
    section.content
        div(ng-view)
    footer.container.text-center
        p &copy; 2015 WhereToGo