.container(style="margin-top:10px")
    .row
        .col-md-6.col-md-offset-3
            div(ng-if='identity.isAuthenticated()').text-center Jūs jau prisijungę!
            form.form-horizontal(role='form', name='loginForm', ng-if='!identity.isAuthenticated()')
                .form-group
                    label.col-sm-2.control-label(for='username') Vartotojas
                    .col-sm-10
                        input.form-control(placeholder='Vartotojas', ng-model='username', required)
                .form-group
                    label.col-sm-2.control-label(for='password') Slaptažodis
                    .col-sm-10
                        input.form-control(type='password', placeholder='Slaptažodis', ng-model='password', required)
                .form-group
                    .col-sm-offset-2.col-sm-10
                        button.btn.btn-success(ng-disabled='loginForm.$invalid', ng-click='signin(username, password)') Prisijungti
