.container.margin-top
    table.table.table-hover.table-striped.table-condensed
      thead
          tr
              th Vardas
              th Pavardė
              //th
      tbody
          tr(ng-repeat="user in users")
              td {{user.firstName}}
              td {{user.lastName}}
              //td
              //    span(ng-click="removeUser(user)").glyphicon.glyphicon-remove