.container
    .well
        form.form-horizontal(name="restaurantForm")
            fieldset
                legend Restorano atnaujinimas
                .form-group
                    label.col-md-2.control-label(for="name") Pavadinimas
                    .col-md-10
                        input.form-control(name="name", type="text", placeholder="Pavadinimas", ng-model="restaurant.name", required)
                        div.error-message(ng-if="restaurantForm.name.$dirty && restaurantForm.name.$invalid")
                            span(ng-if="restaurantForm.name.$error.required") Įrašykite restorano pavadinimą
                .form-group
                    label.col-md-2.control-label(for="description") Aprašymas
                    .col-md-10
                        textarea.form-control(name="description", rows="5", type="text", placeholder="Aprašymas", ng-model="restaurant.description", required)
                        div.error-message(ng-if="restaurantForm.description.$dirty && restaurantForm.description.$invalid")
                            span(ng-if="restaurantForm.description.$error.required") Įrašykite restorano aprašymą
                .form-group
                    label.col-md-2.control-label(for="Email") El. paštas
                    .col-md-10
                        input.form-control(name="email", type="email", placeholder="Elektroninis paštas", ng-model="restaurant.email")
                        div.error-message(ng-if="restaurantForm.email.$dirty && restaurantForm.email.$invalid")
                            span(ng-if="restaurantForm.email.$error.email") Elektroninis paštas neteisingas
                .form-group
                    label.col-md-2.control-label(for="Phone") Telefonas
                    .col-md-10
                        input.form-control(name="Phone", type="text", placeholder="Telefonas", ng-model="restaurant.phone")
                .form-group
                    label.col-md-2.control-label(for="Website") Tinklalapis
                    .col-md-10
                        input.form-control(name="Website", type="text", placeholder="Tinklalapis", ng-model="restaurant.website")
                .form-group
                    label.col-md-2.control-label(for="latitude") Platuma
                    .col-md-10
                        input.form-control(name="latitude", type="text", placeholder="Platuma", ng-model="restaurant.location.latitude")
                .form-group
                    label.col-md-2.control-label(for="longitude") Ilguma
                    .col-md-10
                        input.form-control.col-md-3(name="longitude", type="text", placeholder="Ilguma", ng-model="restaurant.location.longitude")
                .form-group
                    label.col-md-2.control-label(for="facebookId") Facebook ID
                    .col-md-10
                        input.form-control.col-md-3(name="facebookId", type="text", placeholder="Facebook ID", ng-model="restaurant.facebookId")
                .form-group
                    label.col-md-2.control-label(for="monOpen") Pirmadienis
                    .col-md-2
                        input.form-control(name="monOpen", type="text", placeholder="Nuo", ng-model="restaurant.hours.monOpen", ng-pattern="/([01]?[0-9]|2[0-3]):[0-5][0-9]/", ng-maxlength="5")
                        div.error-message(ng-if="restaurantForm.monOpen.$dirty && restaurantForm.monOpen.$invalid")
                            span(ng-if="restaurantForm.monOpen.$error.pattern || restaurantForm.monOpen.$error.maxlength") Laiko formatas neteisingas (HH:mm)
                .form-group
                    label.col-md-2.control-label(for="monClosed")
                    .col-md-2
                        input.form-control(name="monClosed", type="text", placeholder="Iki", ng-model="restaurant.hours.monClosed", ng-pattern="/([01]?[0-9]|2[0-3]):[0-5][0-9]/", ng-maxlength="5")
                        div.error-message(ng-if="restaurantForm.monClosed.$dirty && restaurantForm.monClosed.$invalid")
                            span(ng-if="restaurantForm.monClosed.$error.pattern || restaurantForm.monClosed.$error.maxlength") Laiko formatas neteisingas (HH:mm)
                .form-group
                    label.col-md-2.control-label(for="tueClosed") Antradienis
                    .col-md-2
                        input.form-control(name="tueClosed", type="text", placeholder="Nuo", ng-model="restaurant.hours.tueOpen", ng-pattern="/([01]?[0-9]|2[0-3]):[0-5][0-9]/", ng-maxlength="5")
                        div.error-message(ng-if="restaurantForm.tueClosed.$dirty && restaurantForm.tueClosed.$invalid")
                            span(ng-if="restaurantForm.tueClosed.$error.pattern || restaurantForm.tueClosed.$error.maxlength") Laiko formatas neteisingas (HH:mm)
                .form-group
                    label.col-md-2.control-label(for="tueOpen")
                    .col-md-2
                        input.form-control(name="tueClosed", type="text", placeholder="Iki", ng-model="restaurant.hours.tueClosed", ng-pattern="/([01]?[0-9]|2[0-3]):[0-5][0-9]/", ng-maxlength="5")
                        div.error-message(ng-if="restaurantForm.tueClosed.$dirty && restaurantForm.tueClosed.$invalid")
                            span(ng-if="restaurantForm.tueClosed.$error.pattern || restaurantForm.tueClosed.$error.maxlength") Laiko formatas neteisingas (HH:mm)
                .form-group
                    label.col-md-2.control-label(for="wedOpen") Trečiadienis
                    .col-md-2
                        input.form-control(name="wedOpen", type="text", placeholder="Nuo", ng-model="restaurant.hours.wedOpen", ng-pattern="/([01]?[0-9]|2[0-3]):[0-5][0-9]/", ng-maxlength="5")
                        div.error-message(ng-if="restaurantForm.wedOpen.$dirty && restaurantForm.wedOpen.$invalid")
                            span(ng-if="restaurantForm.wedOpen.$error.pattern || restaurantForm.wedOpen.$error.maxlength") Laiko formatas neteisingas (HH:mm)
                .form-group
                    label.col-md-2.control-label(for="wedClosed")
                    .col-md-2
                        input.form-control(name="wedClosed", type="text", placeholder="Iki", ng-model="restaurant.hours.wedClosed", ng-pattern="/([01]?[0-9]|2[0-3]):[0-5][0-9]/", ng-maxlength="5")
                        div.error-message(ng-if="restaurantForm.wedClosed.$dirty && restaurantForm.wedClosed.$invalid")
                            span(ng-if="restaurantForm.wedClosed.$error.pattern || restaurantForm.wedClosed.$error.maxlength") Laiko formatas neteisingas (HH:mm)
                .form-group
                    label.col-md-2.control-label(for="thuOpen") Ketvirtadienis
                    .col-md-2
                        input.form-control(name="thuClosed", type="text", placeholder="Nuo", ng-model="restaurant.hours.thuOpen", ng-pattern="/([01]?[0-9]|2[0-3]):[0-5][0-9]/", ng-maxlength="5")
                        div.error-message(ng-if="restaurantForm.thuClosed.$dirty && restaurantForm.thuClosed.$invalid")
                            span(ng-if="restaurantForm.thuClosed.$error.pattern || restaurantForm.thuClosed.$error.maxlength") Laiko formatas neteisingas (HH:mm)
                .form-group
                    label.col-md-2.control-label(for="thuClosed")
                    .col-md-2
                        input.form-control(name="thuClosed", type="text", placeholder="Iki", ng-model="restaurant.hours.thuClosed", ng-pattern="/([01]?[0-9]|2[0-3]):[0-5][0-9]/", ng-maxlength="5")
                        div.error-message(ng-if="restaurantForm.thuClosed.$dirty && restaurantForm.thuClosed.$invalid")
                            span(ng-if="restaurantForm.thuClosed.$error.pattern || restaurantForm.thuClosed.$error.maxlength") Laiko formatas neteisingas (HH:mm)
                .form-group
                    label.col-md-2.control-label(for="friOpen") Penktadienis
                    .col-md-2
                        input.form-control(name="friOpen", type="text", placeholder="Nuo", ng-model="restaurant.hours.friOpen", ng-pattern="/([01]?[0-9]|2[0-3]):[0-5][0-9]/", ng-maxlength="5")
                        div.error-message(ng-if="restaurantForm.friOpen.$dirty && restaurantForm.friOpen.$invalid")
                            span(ng-if="restaurantForm.friOpen.$error.pattern || restaurantForm.friOpen.$error.maxlength") Laiko formatas neteisingas (HH:mm)
                .form-group
                    label.col-md-2.control-label(for="friClosed")
                    .col-md-2
                        input.form-control(name="friClosed", type="text", placeholder="Iki", ng-model="restaurant.hours.friClosed", ng-pattern="/([01]?[0-9]|2[0-3]):[0-5][0-9]/", ng-maxlength="5")
                        div.error-message(ng-if="restaurantForm.friClosed.$dirty && restaurantForm.friClosed.$invalid")
                            span(ng-if="restaurantForm.friClosed.$error.pattern || restaurantForm.friClosed.$error.maxlength") Laiko formatas neteisingas (HH:mm)
                .form-group
                    label.col-md-2.control-label(for="satOpen") Šeštadienis
                    .col-md-2
                        input.form-control(name="satOpen", type="text", placeholder="Nuo", ng-model="restaurant.hours.satOpen", ng-pattern="/([01]?[0-9]|2[0-3]):[0-5][0-9]/", ng-maxlength="5")
                        div.error-message(ng-if="restaurantForm.satOpen.$dirty && restaurantForm.satOpen.$invalid")
                            span(ng-if="restaurantForm.satOpen.$error.pattern || restaurantForm.satOpen.$error.maxlength") Laiko formatas neteisingas (HH:mm)
                .form-group
                    label.col-md-2.control-label(for="satClosed")
                    .col-md-2
                        input.form-control(name="satClosed", type="text", placeholder="Iki", ng-model="restaurant.hours.satClosed", ng-pattern="/([01]?[0-9]|2[0-3]):[0-5][0-9]/", ng-maxlength="5")
                        div.error-message(ng-if="restaurantForm.satClosed.$dirty && restaurantForm.satClosed.$invalid")
                            span(ng-if="restaurantForm.satClosed.$error.pattern || restaurantForm.satClosed.$error.maxlength") Laiko formatas neteisingas (HH:mm)
                .form-group
                    label.col-md-2.control-label(for="sunOpen") Sekmadienis
                    .col-md-2
                        input.form-control(name="sunOpen", type="text", placeholder="Nuo", ng-model="restaurant.hours.sunOpen", ng-pattern="/([01]?[0-9]|2[0-3]):[0-5][0-9]/", ng-maxlength="5")
                        div.error-message(ng-if="restaurantForm.sunOpen.$dirty && restaurantForm.sunOpen.$invalid")
                            span(ng-if="restaurantForm.sunOpen.$error.pattern || restaurantForm.sunOpen.$error.maxlength") Laiko formatas neteisingas (HH:mm)
                .form-group
                    label.col-md-2.control-label(for="sunClosed")
                    .col-md-2
                        input.form-control(name="sunClosed", type="text", placeholder="Iki", ng-model="restaurant.hours.sunClosed", ng-pattern="/([01]?[0-9]|2[0-3]):[0-5][0-9]/", ng-maxlength="5")
                        div.error-message(ng-if="restaurantForm.sunClosed.$dirty && restaurantForm.sunClosed.$invalid")
                            span(ng-if="restaurantForm.sunClosed.$error.pattern || restaurantForm.sunClosed.$error.maxlength") Laiko formatas neteisingas (HH:mm)
                .form-group
                    label.col-md-2.control-label(for="tag") Žymės
                    .col-md-10
                        select(ng-model='tag', ng-change="onTagChange(tag)", ng-options="tag.name for tag in tags | orderBy: 'name'").form-control
                            option(value='') Pasirinkti
                        div(ng-repeat='tag in restaurant.tags | orderBy') {{tag}}
                            span(ng-click="removeTag(tag)").glyphicon.glyphicon-minus
                .form-group
                    .col-md-10.col-md-offset-2
                        .pull-right
                            a.btn.btn-danger(href="/restaurants") Atšaukti
                            | &nbsp;
                            button.btn.btn-success(ng-click="updateRestaurant()", ng-disabled="signupForm.$invalid") Atnaujinti