.navbar-right(ng-controller="mvNavBarLoginCtrl")
  form.navbar-form(ng-hide="identity.isAuthenticated()")
    ul.nav.navbar-nav
      li
        a(href="/signup") Užsiregistruoti
    .form-group
      input.form-control(placeholder="Elektroninis paštas", ng-model="username")
    .form-group
      input.form-control(type="password", placeholder="Slaptažodis", ng-model="password")
    button.btn.btn-primary(ng-click="signin(username, password)") Prisijungti
    a(ng-click="redirectToFacebook()", class="btn btn-primary") Facebook
  ul.nav.navbar-nav.navbar-right(ng-show="identity.isAuthenticated()")
    li.dropdown
      a.dropdown-toggle(href="", data-toggle="dropdown")
        | {{identity.currentUser.firstName + " " + identity.currentUser.lastName}}
        b.caret
      ul.dropdown-menu
        li(ng-show="identity.currentUser.isAdmin()")
          a(href="/admin/users") Vartotojai
        li
          a(href="/profile") Profilis
        li
          a(href="", ng-click="signout()") Atsijungti
