.navbar-right(ng-controller="mvNavBarLoginCtrl")
    form.navbar-form(ng-hide="identity.isAuthenticated()")
        button.btn.btn-default(ng-click="redirectToFacebook()") Prisijungti
    ul.nav.navbar-nav.navbar-right(ng-show="identity.isAuthenticated()")
        li.dropdown
            a.dropdown-toggle(href="", data-toggle="dropdown")
                | {{identity.currentUser.firstName + " " + identity.currentUser.lastName}}
                b.caret
            ul.dropdown-menu
                li(ng-if="identity.currentUser.isAdmin()")
                    a(href='/restaurants') Restoranai
                li(ng-if="identity.currentUser.isAdmin()")
                    a(href="/admin/users") Vartotojai
                li
                    a(href="/profile", ng-if='identity.currentUser.isAdmin()') Profilis
                li
                    a(href="", ng-click="signout()") Atsijungti
