.container
  .well
    form.form-horizontal(name="profileForm")
      fieldset
        legend Vartotojo profilis
        .form-group
          label.col-md-2.control-label(for="email") Elektroninis paštas
          .col-md-10
            input.form-control(name="email", type="email", placeholder="Elektroninis paštas", ng-model="email", required)
        .form-group
          label.col-md-2.control-label(for="fname") Vardas
          .col-md-10
            input.form-control(name="fname", type="text", placeholder="Vardas", ng-model="fname", required)
        .form-group
          label.col-md-2.control-label(for="lname") Pavardė
          .col-md-10
            input.form-control(name="lname", type="text", placeholder="Pavardė", ng-model="lname", required)
        .form-group
          label.col-md-2.control-label(for="password") Slaptažodis
          .col-md-10
            input.form-control(name="password", type="password", placeholder="Slaptažodis", ng-model="password")
        .form-group
          .col-md-10.col-md-offset-2
            .pull-right
              a.btn.btn-danger(href="/") Atšaukti
              | &nbsp;
              button.btn.btn-success(ng-click="update()", ng-disabled="signupForm.$invalid") Išsaugoti

