doctype
html
    head
        meta(charset='utf-8')
        title Wheretogo
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(href="/favicon.ico", rel="shortcut icon", type="image/x-icon")
        link(rel="stylesheet", href="/vendor/bootstrap/dist/css/bootstrap.css")
        link(rel="stylesheet", href="/vendor/toastr/toastr.css")
        link(rel="stylesheet", href="/css/site.css")
    body(ng-app='app')
        include currentUser
        block main-content
        include scripts