script(type="text/javascript", src="/vendor/jquery/dist/jquery.js")
script(type="text/javascript", src="/vendor/bootstrap/dist/js/bootstrap.js")
script(type="text/javascript", src="/vendor/toastr/toastr.js")
script(type="text/javascript", src="/vendor/angular/angular.js")
script(type="text/javascript", src="/vendor/angular-resource/angular-resource.js")
script(type="text/javascript", src="/vendor/angular-route/angular-route.js")
script(type="text/javascript", src="/vendor/angular-google-maps/dist/angular-google-maps.js")
script(type="text/javascript", src="/vendor/lodash/dist/lodash.js")
script(type="text/javascript", src="/vendor/angular-bootstrap/ui-bootstrap-tpls.js")
script(type="text/javascript", src="/app/app.js")
script(type="text/javascript", src="/app/common/directives/facebook-like-directive.js")
script(type="text/javascript", src="/app/common/directives/mvGoogleMapDirective.js")
script(type="text/javascript", src="/app/common/directives/mvNoImageDirective.js")
script(type="text/javascript", src="/app/common/resources/mvRestaurantCategoriesResource.js")
script(type="text/javascript", src="/app/common/services/mvRestaurantCategoriesService.js")
script(type="text/javascript", src="/app/common/services/customDirectionsService.js")
script(type="text/javascript", src="/app/main/mvMainCtrl.js")
script(type="text/javascript", src="/app/account/mvNavBarLoginCtrl.js")
script(type="text/javascript", src="/app/account/mvIdentity.js")
script(type="text/javascript", src="/app/common/mvNotifier.js")
script(type="text/javascript", src="/app/account/mvAuth.js")
script(type="text/javascript", src="/app/account/mvUser.js")
script(type="text/javascript", src="/app/account/mvSignupCtrl.js")
script(type="text/javascript", src="/app/account/mvProfileCtrl.js")
script(type="text/javascript", src="/app/admin/mvUserListCtrl.js")
script(type="text/javascript", src="/app/common/resources/mvReviewResource.js")
script(type="text/javascript", src="/app/restaurants/mvReviewService.js")
script(type="text/javascript", src="/app/common/resources/mvRestaurantResource.js")
script(type="text/javascript", src="/app/restaurants/mvCachedRestaurants.js")
script(type="text/javascript", src="/app/restaurants/mvRestaurantService.js")
script(type="text/javascript", src="/app/restaurants/restaurant-list/mvRestaurantListCtrl.js")
script(type="text/javascript", src="/app/restaurants/restaurant-details/mvRestaurantDetailCtrl.js")
script(type="text/javascript", src="/app/restaurants/mvRestaurantCreateService.js")
script(type="text/javascript", src="/app/restaurants/restaurant-create/mvRestaurantCreateCtrl.js")
script(type="text/javascript", src="/app/restaurants/restaurant-edit/mvRestaurantEditCtrl.js")
script(type="text/javascript", src="/common/scripts/headScript.js")