header
    .row
        .col-lg-12
            mv-google-map-directive(restaurants="restaurants", search="search", selected-tag="selectedTag", selected-distance="selectedDistance", current-location="currentLocation")
.container
    .row
        #filter-panel.collapse.filter-panel
            .panel.panel-default
                .panel-body
                    form.form-inline(role='form')
                        .form-group
                            label.filter-col(style='margin-right:0;', for='pref-search') Paieška:
                            input#pref-search.form-control.input-sm(type='text', ng-model='search.data.name', placeholder="Restorano vardas", typeahead='restaurant as restaurant.name for restaurant in restaurants | filter:{name:$viewValue}', typeahead-on-select="onTypeAHeadSelect(search.data.name)")
                        .form-group
                            label.filter-col(style='margin-right:0;', for='pref-city') Miestas:
                            select#pref-city.form-control(ng-model='search.data.city')
                                option(value='') Pasirinkti
                                option(value='Vilnius') Vilnius
                                option(value='Kaunas') Kaunas
                        .form-group
                            label.filter-col(style='margin-right:0;', for='pref-tags') Kategorija:
                            select#pref-category.form-control(ng-model='selectedTag', ng-options="tag.name for tag in tags | orderBy: 'name'")
                                option(value='') Pasirinkti
                        .form-group(ng-show='currentLocation.coords')
                            label.filter-col(style='margin-right:0;', for='pref-search') Atstumas (km):
                            input#pref-distance.form-control.input-sm(type='text', ng-model='selectedDistance', placeholder='0.5')
        button.btn.btn-default.center-block(type='button', data-toggle='collapse', data-target='#filter-panel').margin-top
            span.glyphicon.glyphicon-cog
            |  Išplėstinė paieška
    hr
    .row
        .col-sm-12
            div.text-center
                h2.text-center Savaitės TOP
    hr
    .row
        .col-sm-4(ng-if="mostVisitedRestaurantWeekly._id")
            h2 Daugiausiai aplankytas
            img(ng-src="{{mostVisitedRestaurantWeekly.mainPicture.url}}" alt="mostVisitedPicture", ng-click="goToDetails(mostVisitedRestaurantWeekly._id)" err-src="/noImage.png").img-responsive.restaurant-image
            h3.text-center.pointer(ng-click="goToDetails(mostVisitedRestaurantWeekly._id)") {{mostVisitedRestaurantWeekly.name}}
        .col-sm-4(ng-if="mostLikesRestaurantWeekly._id")
            h2 Daugiausiai like'ų
            img(ng-src="{{mostLikesRestaurantWeekly.mainPicture.url}}" alt="mostLiked", ng-click="goToDetails(mostLikesRestaurantWeekly._id)" err-src="/noImage.png").img-responsive.restaurant-image
            h3.text-center.pointer(ng-click="goToDetails(mostLikesRestaurantWeekly._id)") {{mostLikesRestaurantWeekly.name}}
        .col-sm-4(ng-if="mostTalkedAboutRestaurantWeekly._id")
            h2 Daugiausiai apkalbėtas
            img(ng-src="{{mostTalkedAboutRestaurantWeekly.mainPicture.url}}" alt="mostVisitedPicture", ng-click="goToDetails(mostTalkedAboutRestaurantWeekly._id)" err-src="/noImage.png").img-responsive.restaurant-image
            h3.text-center.pointer(ng-click="goToDetails(mostTalkedAboutRestaurantWeekly._id)") {{mostTalkedAboutRestaurantWeekly.name}}
    hr
